body {
  background-color: black;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.node{
  fill: white;
}

.link{
  stroke-width: 5px;
  stroke: yellow;
}

.plus{
  fill: red;
}

.rectangle {
  stroke-width: 5px;
  stroke: orange;
  fill: red;
}

#panel{
  width: 400px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  text-align: center;
}

#notes {
  margin-top: 50px;
  height: 90%;
  width: 90%;
  display: inline-block;
}
